p.blog {
	text-indent:21.0000pt;
	}
table.blog{
	background-color: rgb(41, 153, 153); width: 100%; border-top-left-radius: 6px; border-top-right-radius: 6px; 

color: white; font-weight: bold; font-size: 20px; margin: 15px 0px; padding: 5px; box-shadow: rgb(51, 153, 204) 0px 0px 

0px 1px, rgba(10, 10, 0, 0.498039) 1px 1px 6px 1px; text-shadow: rgb(34, 34, 34) 2px 2px 3px;
	}
.code{
	padding: 5px; 
	border: 1px solid rgb(204, 204, 204);
	background-color: rgb(245, 245, 245);
	border-left:3px solid #299999
	
	}